<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoxin.blog.web.admin.mapper.TagMapper">
    <update id="restoreTag">
        update tag set deleted = 0 where id = #{id}
    </update>


    <select id="getPopularTags" resultType="com.xiaoxin.blog.web.admin.vo.PopularTagsVo">
        select
        t.id,
        t.name,
        count(at.tag_id) as count
        from tag as t
        left join article_tag as at on t.id = at.tag_id
        where t.deleted = 0
        group by t.id, t.name
        order by count desc
        limit #{limit}
    </select>

</mapper>
